
.icon-container::after{
    content: " ";
    clear: both;
    display: block;
}
.keywords-list{
    background: #3c8dbc;
    color: #fff;
    width: 100%;
}
.list-unstyled li {
    border-bottom: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
}
.list-unstyled li a{
    color: #fff;
}
.list-unstyled li:last-child {
    border-bottom: 0;
}
.selected-keywords span{
    display: inline-block;
    font-size: 1em;
    margin: 5px 5px 5px 0;
    font-weight: normal;
} 

.select2-container{
    width: 100% !important;   
}
.select2-container .select2-selection--multiple{
    min-height: 34px;
}

.radio-list .radio-label{
    margin-left: 10px;
    margin-right: 10px;
}
.radio-list label{
    margin-right: 20px;
}
.new-keyword{
    display: inline-block;
    cursor: pointer;
    margin: 3px 0 10px 0;
}
span.app-icon {
    display: inline-block;
    border: 2px solid #eee;
    border-radius: 5px !important;
    margin: 0 3px;
}
a[data-action] span{
    color: #777 !important;
}
.mt20{
    margin-top: 20px;
}
#custom-tooltip span i{
    margin-right: 6px;
}
#custom-tooltip .span-requests{
    color: #f39c12;
}
#custom-tooltip .span-impressions{
    color: #00c0ef;
}
#custom-tooltip .span-clicks{
    color: #00a65a;
}
#custom-tooltip .span-fillrate{
    color: #605ca8;
}
#custom-tooltip .span-ctr{
    color: #dd4b39;
}
#chart-container{
    overflow: hidden;
}
.all-users-section .filter-group{
    margin-bottom: 5px;
    margin-top: 5px;
}
#daterange-btn .fa {
    margin: 0 5px;
}